[submodule "adr_ws/src/px4_msgs"]
	path = adr_ws/src/px4_msgs
	url = https://github.com/PX4/px4_msgs.git
	branch = main
[submodule "adr_ws/src/motion_capture_tracking"]
	path = adr_ws/src/motion_capture_tracking
	url = https://github.com/IMRCLab/motion_capture_tracking.git
	branch = ros2
